<div class="container">
  <h1>Developer: <%= @developer.first_name %> <%= @developer.last_name %></h1>

  <h2>Reviews:</h2>
  <% @reviews.each do |review| %>
  <% review.rating.times do %>
  <i class="fa fa-star"></i>
  <% end %>
  <% (5 - review.rating).times do %>
  <i class="fa fa-star-o"></i>
  <% end %>
  <%= review.description %>
  <% end %>
</div>
