<div class="job-form-container">
  <div class="banner background-gray">
    <div class="banner-content center">
      <h1>TJENGA</h1>
      <p>Don't want to post a job yet?</p>
      <%= link_to "Find developer by skill", developers_path, class: 'btn btn-primary btn-lg' %>

    </div>
    <div class="background-img"><%= image_tag 'client.png', class: "imgs" %></div>
  </div>
  <div class='job-form'>
  <h2 class="text-center">Post your job</h2>
  <hr style="width: 20em;">
    <%= render "form" %>
  </div>
</div>

