<div class="job-form-container">
    <div class="banner background-gray">
      <div class="banner-content">
        <h1>TJENGA</h1>
        <p>Find the perfect man for the job!</p>
        <a class="btn btn-primary btn-lg">Find developer by skill</a>
      </div>
        <div class="background-img"><%= image_tag 'client.png', class: "imgs" %></div>
    </div>
    <div class='job-form'>
        <%= render "form" %>
    </div>
</div>

