// Place all the styles related to the developers/profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dev-banner {
  background: $blue-grayer;
  color: white;
  h3 {
    font-weight: bold;
  }
  p {
    margin: 0 0 1px;
  }
}


@media(max-width: 770px) {
  .dev.banner {
    height: 100vh;
  }
  .dev-name {
    text-align: center;
    margin-left: 0px;
  }
  .dev-details {
    text-align: center;
  }
  .photo {
    text-align: center;
  }
}

@media(min-width: $screen-sm) {
  .dev-name {
    margin-top: 120px;
    margin-left: 50px;
  }
}

.dev-btn {
  margin-top: 30px;
  margin-bottom: 30px;

  .btn-primary {
    font-weight: bold;
    background-color: $nnude;
    opacity: 0.8;
    transition: all 0.3s ease 0s;
  }
  .btn-primary:hover {
   opacity: 1;
 }
}

.photo {
  margin-top: 120px;
}

.dev-details {
  margin-top: 120px;
}

ul {
  list-style-type: none;
}


// review lay-out
.review {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  width: 650px;
  padding-left: 80px;
  background: #D3D3D3;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease 0s;
}

/* Body design */
.review-body {
  flex: 1 1 auto;
  .fa-star:before {
    // color: #D38312;
    // background: linear-gradient(to left, #D38312 , #A83279);
    background: linear-gradient(to left, #F0C27B , #4B1248);

    display: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  .fa-star-o {
    color: grey;
  }
}
.review-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.review-body p {
  color: black;
  margin-bottom: 0;
}

/* review image */
.review-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}

/* Upvote design */
// .review-upvote {
//   padding-right: 20px;
//   text-align: center;
//   transition: all 0.15s ease;
//   font-weight: bold;
//   font-size: 13px;
//   line-height: 20px;
// }
// .review-count {
//   margin: 2px 0 0;
// }
// .review-arrow {
//   transition: all 0.15s ease;
//   width: 0;
//   height: 0;
//   border-left: 6px solid transparent;
//   border-right: 6px solid transparent;
//   border-top: 6px solid transparent;
//   border-bottom: 9px solid black;
//   border-radius: 2px;
//   margin: auto;
// }

/* Controls design */
.review-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.review-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.review-controls a:hover {
  color: #D3473C !important
}
.review-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.review:hover {
  background: $ggray;
  cursor: pointer;

  a:hover {
    text-decoration: none !important;
  }
}
// .review-upvote:hover {
//   color: #5898f1;
//   cursor: pointer;
// }
// .review:hover .review-upvote { transform: scale(1.2) }
// .review:hover .review-controls-hidden a { color: #E6E6E6 }
// .review-upvote:hover .review-arrow { border-bottom: 9px solid #5898f1 }

.work-description {
  h4 {
    font-weight: bold;
  }
}
