.apply-banner {
  background: $blue-grayer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  h3 {
    font-weight: bold;
  }
  p {
    margin: 0 0 1px;
  }
}

.application {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  margin: 20px;
  border-bottom: solid 1px rgba(0,0,0,0.2);
  .btn-primary {
    font-size: 11px;
  }
  .show {
    margin: 20px;
  }
  h4 {
    font-size: 18px;
  }
}

@media(max-width: 600px) {
  .application {
    flex-flow: column;
  }
}


.apply-details {
  display: inline;
  h4 {
    font-weight: lighter;
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
}

.motivation {
  margin: 15px;
  p {
    color: rgba(51, 51, 51, 0.7)
  }
}


////// CLIENT/APPLICATION SHOW //////
.dev-candidate {
  display: flex;
  justify-content: center;
  // text-align: center;
  align-items: center;

  p {
    margin-top: 5px;
    opacity: .6;
  }

  h2 {
    margin: 0px;
  }

  .candidate-img{
    margin-right: 10px;
  }
}

@media(max-width: 600px) {
  .dev-candidate {
    flex-flow: column;
  }
}

@media(max-width: 600px) {
  .details-candidate {
    flex-flow: column;
  }
}


.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13px 0px 15px 0px;
}

.details-candidate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .btn-primary{
    background-color: rgba(210, 210, 210, 0.34);
  }
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
