.light-grey {
  background: $ggray-light;
}

.wrapper-darkblue {
  color: white;
  background: $blue-gray;
  .btn-primary {
    background: $nnude;
    font-weight: bold;
    border-radius: 10%;
    font-size: 20px;
    letter-spacing: 2px;
    opacity: 0.8;
    transition: all 0.3s ease 0s;
  }
}
.btn-primary:hover {
 opacity: 1;
}


.job {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 50px;

  .title {
    flex: 1;
  }
  .apply {
    flex: 1;
  }
}

hr {
  height: 15px;
}



// job section: about and description
.wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.job-about {
  position: relative;
  height: 250px;

  .image {
    position: absolute;
    left: 20px;
    top: 20px;
    padding-bottom: 10px;
  }
  .details {
    position: absolute;
    right: 20px;
    top: 20px;
    padding-bottom: 10px;
  }
}

.job-about h4 {
  font-weight: bold;
  // margin-bottom: 5px;
}

.job-about p {
  margin-bottom: 1px;
}

.job-about i {
  margin-top: 15px;
}

ul {
  list-style-type: none;
}

.job-description {
  padding: 10px;
  height: 250px;
}

// job info section (start-date, deadline, etc)
.card-job {
  margin-top: 40px;
  padding-top: 15px;
  background: white;
  color: black;
  height: 100px;
  h4 {
    font-weight: bold;
  }
}


