<div class="container is-small">

  <h3>Hi <%= @developer.first_name %>,</h3>

  <p>Thanks for signing up with Tjenga!</p>
  <p>As a developer you can search for jobs</p>


  <P>The Tjenga Team</P>
  <a href="http://tjenga.com"><p>http://tjenga.com</p></a>
  <hr>

  <p>
    Tjenga is the platform where kick-ass developers can meet awesome clients.
    Find the perfect developer for your project!
  </p>

</div>
