<div class="wrapper-home-page">
  <div class="landing-page">
    <div class="client-section">
      <div class="section-content">
        <p style="margin-bottom: 0px;">Awesome</p>
        <h1 style="margin-top: 0px;">Client?</h1>
        <hr>
        <p class="section-description">A new website is just a click away.</p>
        <%= link_to "Post a job ", new_client_job_path, class: 'btn btn-danger' %>

        <i class="fa fa-info-circle fa-2x info-icon info-client"></i>
        <%= image_tag 'client.png' %>
      </div>
    </div>

    <div class="developer-section">
      <div class="section-content">
        <p style="margin-bottom: 0px;">Kick-ass</p>
        <h1 style="margin-top: 0px;">Developer?</h1>
        <hr>
        <p class="section-description">Epic new jobs start here, from beginners to experts.</p>
        <%= link_to "Search Jobs", jobs_path, class: 'btn btn-danger' %>

        <i class="fa fa-info-circle fa-2x info-icon info-developer"></i>
        <%= image_tag 'developer.png' %>
      </div>
    </div>
  </div>

  <div class="landing-client">

  </div>

  <div class="landing-developer">

  </div>
</div>


<!-- <div class="wrapper-footer">

</div>
 -->
