<div class="wrapper">
  <div class="landing-page">
    <div class="client-section">
      <div class="section-content">
        <h1>Awesome client?</h1>
        <p>Looking for a new website? Or something bigger? Post it!</p>
        <%= image_tag 'coffee.png' %>
      </div>
    </div>

    <div class="developer-section">
      <div class="section-content">
        <h1>Kick-ass developer?</h1>
        <p>New exiting assignments start here</p>
        <%= image_tag 'meditation.png' %>
      </div>
    </div>
  </div>
</div>
