<div class="wrapper">
  <div class="landing-page">
    <div class="client-section">
      <div class="section-content">
        <h3>Awesome</h3>
        <h1>Client?</h1>
        <p>Looking for a new website? Or something bigger? Post it!</p>
        <%= image_tag 'client.png' %>
      </div>
    </div>

    <div class="developer-section">
      <div class="section-content">
        <h3>Kick-ass</h3>
        <h1>Developer?</h1>
        <p>New exiting assignments start here</p>
        <%= image_tag 'developer.png' %>
      </div>
    </div>
  </div>
</div>
