<div class="wrapper">
  <div class="landing-page">
    <div class="client-section">
      <div class="section-content">
        <h1>Awesome client?</h1>
        <p>At Tjenga</p>
      </div>
    </div>

    <div class="developer-section">
      <div class="section-content">
        <h1>Kick ass developer?</h1>
      </div>
    </div>
  </div>
</div>
