<div class="container">


<h1>List of applications</h1>

<% @applications.each do |application| %>
<%= application.motivation %>
<%= application.price %>
<%= application.status %>
<%= link_to "Show", client_application_path(application) %>
<% end %>
</div>
