// Your footer style
// Your footer style
.footer-container {
    position: absolute;
    left: 0;
    bottom: -8;
    width: 100%;
    background-color: rgb(20,20,20);
}

// .footer {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   background-color: rgb(20,20,20);
//   list-style: none;
// }
a {
  color: inherit;
  text-decoration: none;
}

.footer-content {
  display: flex;
  margin: 30px 0px 30px 0px;
}

.footer-info {
  flex: 1;
  color: rgb(90,90,90);
  h4 {
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: solid 1.5px rgb(120,120,120);

  }

  a {
    font-size: 12px;
    color: rgb(90,90,90);
    transition: all 0.2s ease;
  }

  a:hover {
    color: rgb(140,140,140);
    style: none;
  }
  hr {
    width: 5em;
  }

  ul {
    padding-left: 0px;
  }
}


.footer-icon {
  height: 50px;
  padding: 5px;
  color: white;
  font-size: 10px;
  transition: color 0.3s, ease-in;
  &:hover {
    color: rgb(100,100,100);
  }
}

.footer-text {
  margin-top: 50px;
  color: rgb(250,250,250);
  transition: color 0.3s, ease-in;
  &:hover {
    color: rgb(100,100,100);
  }
}

.footer-spacing {
  border-bottom: solid;
  border-color: rgb(100,100,100);
  border-width: 1px;
  margin-bottom: 15px;
}

#follow-text {
  color: rgb(250,250,250);
}

