<div class="nested-fields">
  <%= f.input :name, placeholder: 'Add the programming languages you speak, e.g. "Ruby"', label: 'Programming language' %>
  <%= f.input :level, placeholder: 'Which rate would you give yourself (nr 1-5)', label: 'Level' %>
</div>
