<div class="container is-small">

<h3>Hi <%= @client.first_name %>,</h3>

<p>Thanks for signing up with Tjenga!</p>
<p>As a client you can post your for free job and search for developers</p>


<P>The Tjenga Team</P>
<a href="http://tjenga.com"><p>http://tjenga.com</p></a>
<hr>

Tjenga is the platform where kick-ass developers can meet awesome clients.
Find the perfect developer for your project!
</div>
