/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  margin-top: 0;
  transition: transform .4s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 22;

  &.is-hidden {
    transform: translateY(-96px);
  }
}
.alert-info {
  background: $green;
  z-index: 22;
}

.alert-warning {
  background: $red;
  z-index: 22;
}
