/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  margin-top: 0;
  transition: transform .3s ease;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;

  &.is-hidden {
    // top: -56px;
    transform: translateY(-96px);
  }
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
