.form input {
  width: 100%;
}

.form submit {
  width: auto;
}

.form-container {
  max-width: 400px;
  margin: auto;
}

#new_job {
  font-size: 14px !important;
  font-weight: normal !important;
  color: $blue-gray !important;
}

// vanaf hier css voor job-form

.job-form-container {
  display: flex;

  @media (max-width: 700px) {
    flex-flow: column;

    .banner {
      min-height: 420px;
    }
  }

  .banner, .job-form {
    flex: 1;
    padding-bottom: 70px;
  }

  .job-form {
    margin: auto;
    padding: 20px;
    padding-bottom: 70px;
  }
}

form {
  .form-control {
    &:focus {
      outline: 0;
      border-color: #CCCCCC;
      box-shadow: none;
    }
  }
}
